body {
	padding-top: 10px;
}

.insights-main-content .alert {
	font-weight: bold;
	padding: 7px;
	font-size: 12px;
	border-radius: 0px;
}

.insights-main-content .alert.alert-info {
    background-color: #ffffff;
    border-color: #ccc;
    color: #333333;
}

.insights-main-content .icon-info {
	  font-size: 20px;
    position: absolute;
    left: 7px;
    top: 7px;
}

.insights-main-content .alert.alert-danger {
	background: #FFF;
	color: #C00;
}

.insights-main-content .hidden-in-product {
	display: none;
}


/* line 5, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert {
  border-width: 2px;
  padding-left: 34px;
  position: relative;
}
/* line 9, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert .alert-link {
  color: #0099d3;
}
/* line 11, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert .alert-link:hover {
  color: #00618a;
}
/* line 15, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert > .btn.pull-right {
  margin-top: -3px;
}
/* line 18, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert > .pficon {
  font-size: 20px;
  position: absolute;
  left: 7px;
  top: 7px;
}
/* line 24, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert .pficon-info {
  color: #72767b;
}

/* line 29, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert-dismissable .close {
  right: -16px;
  top: 1px;
}

/* line 71, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_alerts.scss */
.insights-main-content .alert-danger {
  background-color: #ffffff;
  border-color: #cc0000;
  color: #333333;
}
/* line 8, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.insights-main-content .alert-danger hr {
  border-top-color: #b30000;
}
/* line 11, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.insights-main-content .alert-danger .alert-link {
  color: #1a1a1a;
}
