body {
	padding-top: 10px;
}
/* temp patch */
.hidden-in-product {
    display: none
}
.container {
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
}

/* input.rounded, .error-info textarea.rounded.changed.ng-dirty, .error-info select.rounded.changed.ng-dirty {
    border: 4px solid #ebeef0;
    padding: 6px 8px;
    padding: 0.375rem 0.5rem;
    line-height: 1.2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden
}
.cmn-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}
input.cmn-toggle-round+label, .error-info textarea.cmn-toggle-round.changed.ng-dirty+label, .error-info select.cmn-toggle-round.changed.ng-dirty+label {
    padding: 2px;
    width: 120px;
    height: 60px;
    background-color: #dddddd;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px
}
input.cmn-toggle-round+label:before, .error-info textarea.cmn-toggle-round.changed.ng-dirty+label:before, .error-info select.cmn-toggle-round.changed.ng-dirty+label:before, input.cmn-toggle-round+label:after, .error-info textarea.cmn-toggle-round.changed.ng-dirty+label:after, .error-info select.cmn-toggle-round.changed.ng-dirty+label:after {
    content: "";
    top: 1px;
    left: 1px;
    bottom: 1px;
    position: absolute;
    display: block
}
input.cmn-toggle-round+label:before, .error-info textarea.cmn-toggle-round.changed.ng-dirty+label:before, .error-info select.cmn-toggle-round.changed.ng-dirty+label:before {
    right: 1px;
    background-color: #f1f1f1;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -moz-transition: background 0.35s;
    -o-transition: background 0.35s;
    -webkit-transition: background 0.35s;
    transition: background 0.35s
}
input.cmn-toggle-round+label:after, .error-info textarea.cmn-toggle-round.changed.ng-dirty+label:after, .error-info select.cmn-toggle-round.changed.ng-dirty+label:after {
    width: 58px;
    background-color: #fff;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-transition: margin 0.35s;
    -o-transition: margin 0.35s;
    -webkit-transition: margin 0.35s;
    transition: margin 0.35s
}
input.cmn-toggle-square+label, .error-info textarea.cmn-toggle-square.changed.ng-dirty+label, .error-info select.cmn-toggle-square.changed.ng-dirty+label {
    padding: 4px;
    width: 68px;
    height: 36px;
    background-color: #ebeef0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-transition: background 0.35s;
    -o-transition: background 0.35s;
    -webkit-transition: background 0.35s;
    transition: background 0.35s
}
input.cmn-toggle-square+label:before, .error-info textarea.cmn-toggle-square.changed.ng-dirty+label:before, .error-info select.cmn-toggle-square.changed.ng-dirty+label:before, input.cmn-toggle-square+label:after, .error-info textarea.cmn-toggle-square.changed.ng-dirty+label:after, .error-info select.cmn-toggle-square.changed.ng-dirty+label:after {
    content: "";
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    position: absolute;
    display: block
}
input.cmn-toggle-square+label:before, .error-info textarea.cmn-toggle-square.changed.ng-dirty+label:before, .error-info select.cmn-toggle-square.changed.ng-dirty+label:before {
    background-color: #f7fafc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: background 0.35s;
    -o-transition: background 0.35s;
    -webkit-transition: background 0.35s;
    transition: background 0.35s
}
input.cmn-toggle-square+label:after, .error-info textarea.cmn-toggle-square.changed.ng-dirty+label:after, .error-info select.cmn-toggle-square.changed.ng-dirty+label:after {
    top: 4px;
    bottom: 4px;
    left: 4px;
    width: 30px;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-transition: margin 0.35s;
    -o-transition: margin 0.35s;
    -webkit-transition: margin 0.35s;
    transition: margin 0.35s
}
input.cmn-toggle-square:checked+label:after, .error-info textarea.cmn-toggle-square.changed.ng-dirty:checked+label:after, .error-info select.cmn-toggle-square.changed.ng-dirty:checked+label:after {
    margin-left: 30px
}
input.cmn-toggle:checked+label:before, .error-info textarea.cmn-toggle.changed.ng-dirty:checked+label:before, .error-info select.cmn-toggle.changed.ng-dirty:checked+label:before {
    background-color: #949794
}
input.cmn-toggle-round:checked+label:after, .error-info textarea.cmn-toggle-round.changed.ng-dirty:checked+label:after, .error-info select.cmn-toggle-round.changed.ng-dirty:checked+label:after {
    margin-left: 40px */
}
.insights-main-content .alert {
	font-weight: bold;
	padding: 7px;
	font-size: 12px;
	border-radius: 0px;
}

.insights-main-content .alert.alert-info {
    background-color: #ffffff;
    border-color: #ccc;
    color: #333333;
}

.insights-main-content .icon-info {
	  font-size: 20px;
    position: absolute;
    left: 7px;
    top: 7px;
}

.insights-main-content .alert.alert-danger {
	background: #FFF;
	color: #C00;
}

/* line 5, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert {
  border-width: 2px;
  padding-left: 34px;
  position: relative;
}
/* line 9, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert .alert-link {
  color: #0099d3;
}
/* line 11, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert .alert-link:hover {
  color: #00618a;
}
/* line 15, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert > .btn.pull-right {
  margin-top: -3px;
}
/* line 18, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert > .pficon {
  font-size: 20px;
  position: absolute;
  left: 7px;
  top: 7px;
}
/* line 24, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert .pficon-info {
  color: #72767b;
}

/* line 29, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/patternfly-sass-2.4.0/assets/stylesheets/patternfly/_alerts.scss */
.insights-main-content .alert-dismissable .close {
  right: -16px;
  top: 1px;
}

/* line 71, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_alerts.scss */
.insights-main-content .alert-danger {
  background-color: #ffffff;
  border-color: #cc0000;
  color: #333333;
}
/* line 8, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.insights-main-content .alert-danger hr {
  border-top-color: #b30000;
}
/* line 11, /home/lphiri/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.insights-main-content .alert-danger .alert-link {
  color: #1a1a1a;
}
