<!DOCTYPE html>
<html>
<head>
  <title>RedhatAccessCfme</title>
  <%= stylesheet_link_tag    "redhat_access_cfme/application", :media => "all" %>
  <%= javascript_include_tag "redhat_access_cfme/application" %>
  <%= csrf_meta_tags %>
  <base href="/redhat_access/insights/"/>
</head>

<body>

<%= yield %>

</body>
</html>
