.container.main-content.insights-main-content
    .alert.alert-info
        %span.icon-info
        %strong
        = _("The appliance was unable to connect to the Red Hat Insights service.")
    %p
        = _("To use Red Hat Insights, the appliance must be registered to Red Hat Subscription Management  or Satellite (version 6.1 or newer).")
    %p
        For help with configuring and enabling the Red Hat Insights service in CloudForms, please refer to the
        %a{:href => "https://access.redhat.com/insights/getting-started/cloudforms/", :target => "_blank"} Getting Started Guide.