.container.main-content.insights-main-content
    %p
        For help with configuring and enabling the Red Hat Insights service in CloudForms, please refer to the
        %a{:href => "https://access.redhat.com/insights/getting-started/cloudforms/", :target => "_blank"} Getting Started Guide