- if !rhai_prereqs_met?
  #serverunregistered.container.main-content.insights-main-content
    %br
    %br
    %br
    .alert.alert-info
      %span.icon-info
      %strong
        = _("The current server is not registered to Red Hat.")
    %p
      = _("A valid Red Hat subscription is required to use this feature.")
- else
  .container.main-content.insights-main-content{"ng-app" => "RedhatAccessInsights"}
    .wrapper{"ui-view" => ""}
